.isotope__item--grid {
    width: 100%;
    margin: 15px 0;
    border: solid 1px blue;
    //transition: width 1s ease-in-out;

    @include media-breakpoint-up(sm) {  width: 510px; }
    @include media-breakpoint-up(md) {  width: calc(690px/2 - 15px); }
    @include media-breakpoint-up(lg) {  width: calc(930px/2 - 15px); }
    @include media-breakpoint-up(xl) {  width: calc(555px - 15px); }
}

.modal-dialog {
    max-width: 90vh;
}
