<template>
  <div>

    <nuxt-link to="/">Home</nuxt-link>

    <nuxt-link to="/seminare_test">Seminare_data</nuxt-link>

    <nuxt-link to="/home2"></nuxt-link>

    <nuxt-link to="/seminare">seminare</nuxt-link>

    <nuxt />

  </div>
</template>