<template>
  <div>

    <div v-if="$store.state.auth.login">{{user}}</div>

  </div>
</template>

<script>
    export default {

        computed: {
            user () {
                return JSON.stringify(this.$store.state.auth.user);
            },
        },

        fetch({store}) {
           return store.dispatch("auth/get");
        },

        mounted() {
            this.$store.dispatch("auth/login", {});
        }
    }
</script>