<template>
  <div>

    <div v-for="seminar in $store.state.seminare.records" :key="seminar.id">

        {{seminar.titel}}

    </div>

    <div v-for="seminar in $store.state.seminare.orte" :key="seminar.id">

        {{seminar.ort}}

    </div>

     <div v-for="seminar in $store.state.seminare.typen" :key="seminar.id">

        {{seminar.bezeichnung}}

    </div>

  </div>
</template>

<script>
    export default {

        fetch({store}) {
            return store.dispatch("seminare/get");
        }

    }
</script> 