<template>
    <client-only>
        <div>
            <!-- FILTER BUTTONS -->
            <b-container>
                <b-row class="justify-content-between">
                    <b-col>
                        <!-- SIMPLE FILTER BUTTON -->
                        <b-button 
                            style="margin-right:5px"  flat
                            v-for="(val, index) in typen" 
                            :key="index" 
                            @click="filter('filterByType'), transitionDuration = '0.4s', filterTypeId = val.id ">
                            {{val.bezeichnung}}
                        </b-button>
                    </b-col>
                    <b-col cols="12" md="auto">
                        <!-- COMBINATION FILTER BUTTON -->
                        <b-button variant="primary" @click="$bvModal.show('modal-filters')">Filter Options</b-button>
                        <b-button variant="info" text @click="resetFilter()">Zurücksetzen</b-button>
                        <b-button variant="info" text @click="resetFilter()">Filter/Grid</b-button>
                    </b-col>
                </b-row>
            </b-container>

            <!-- FILTER MODAL -->
            <b-modal id="modal-filters">
                <template v-slot:modal-header="{ close }">
                    <!-- Emulate built in modal header close button action -->
                    <h5>Modal Header</h5>
                    <b-button size="sm" variant="outline-danger" @click="close()">
                        X
                    </b-button>
                </template>

                <template v-slot:default="{ hide }">
                    <!-- Filter Columns -->
                    <b-container fluid>
                        <b-row align-start justify-start row class="filterModal">
                            <b-col>
                                <p style="text-align: left;">Seminarart:</p>
                                <b-checkbox 
                                    v-for="(item, index) in typen" 
                                    :key="index" 
                                    v-model="typeSelected" 
                                    :value="item.id"
                                >{{item.bezeichnung}}
                                </b-checkbox>
                            </b-col>
                                <!--
                            <b-col>
                                <p style="text-align: left;">Monat:</p>
                                <b-checkbox 
                                    v-for="(item, index) in month" 
                                    :key="index" 
                                    v-model="monthSelected" 
                                    :label="item" 
                                    :value="item"
                                >
                                {{item}}
                                </b-checkbox>
                            </b-col>
                                -->
                            <b-col>
                                <p style="text-align: left;">Ort:</p>
                                <b-checkbox 
                                    v-for="(item, index) in orte" 
                                    :key="index" 
                                    v-model="placeSelected" 
                                    :value="item.ort"
                                >
                                {{item.ort}}
                                </b-checkbox>
                            </b-col>
                            <b-col>
                                <p style="text-align: left;">Dozent:</p>
                                <b-checkbox v-for="(item, index) in referenten" 
                                    :key="index" 
                                    v-model="nameSelected" 
                                    :value="item.id"
                                >
                                {{item.anrede_name}}
                                </b-checkbox>
                            </b-col>
                        </b-row>
                    </b-container>
                </template>
                
                <!-- Modal Footer -->
                <template v-slot:modal-footer="{ ok, cancel, hide }">
                    <!-- Emulate built in modal footer ok and cancel button actions -->
                    <b-button size="sm" variant="success" @click="selectedFilter()">
                        Anwenden
                    </b-button>
                    <b-button size="sm" variant="danger" @click="cancel()">
                        Abbrechen
                    </b-button>
                    <!-- Button with custom close trigger value -->
                    <b-button size="sm" variant="outline-secondary" @click="discard()">
                        Zurücksetzen
                    </b-button>
                </template>
            </b-modal> <!-- ./FILTER MODAL-->
            
            <b-container>
                <isotope class="isotope" ref="iso" :options="options" :list="seminare">
                    <div v-for="(seminar, index) in seminare" :key="index" class="isotope__item--grid">
                        <p>{{seminar.titel}}</p>
                        <p>{{seminar.id}}</p>
                        <p>{{seminar.veranstaltung_typ_id}}</p>
                        <p>{{seminar.Veranstaltung_Typ.bezeichnung}}</p>
                        <p>{{seminar.Veranstaltung_Events[0].Veranstaltung_Ort.ort}}</p>
                        <p>{{seminar.beginn}}</p>
                        <p 
                            v-for="(referent, index) in seminar.Veranstaltung_Events[0].Veranstaltung_Referents" 
                            :key="index"
                        >
                            {{referent.anrede_name}} 
                        </p>
                    </div>
                </isotope>
            </b-container>
        </div>
    </client-only>

</template>



<script>
export default {
    // fill store before page render
    fetch({ store }) {
        return store.dispatch("seminare/get");
    },
    data() {
        return {
            typeSelected: [],
            placeSelected: [],
            monthSelected: [],
            nameSelected: [],
            filterTypeId: null,
            options: {
                itemSelector: '.list-item',
                //transitionDuration: 0,
                masonry: {
                    //columnWidth: 'grid-sizer',
                    gutter: 30,
                },
                getFilterData: {
                    
                    // Seminartyp Filter (buttons)
                    filterByType: function (val) {
                        return val.Veranstaltung_Typ.id === this.filterTypeId;
                    }.bind(this),

                    // Combination Filter (modal)
                    combinationFilters: function(val) {
                        var a, b, c, d = 0;

                        /*if (monthSelected.length > 0) {
                            for (var i = 0; i < monthSelected.length; i++) {
                                if (monthSelected[i] === val.beginn) {
                                    b++;
                                }
                            }
                        } else {
                            b++;
                        }
                        */
                        console.log("test");
                        console.log("val.id");

                        if (placeSelected.length > 0) {
                            for (var i = 0; i < placeSelected.length; i++) {
                                if (placeSelected[i] === val.Veranstaltung_Events[0].Veranstaltung_Ort.ort) {
                                    c++;
                                }
                            }
                        } else {
                            c++;
                        }
                        if (typeSelected.length > 0) {
                            for (var i = 0; i < typeSelected.length; i++) {
                                if (typeSelected[i] === val.veranstaltung_typ_id) {
                                    a++;
                                }
                            }
                        } else {
                            a++;
                        }
                        if (nameSelected.length > 0) {
                            for (var i = 0; i < nameSelected.length; i++) {
                                if (val.attributes.name.includes(nameSelected[i])) {
                                    console.log(val.id);
                                    d++;
                                }
                            }
                        } else {
                            d++;
                        }
                        if (a && c && d ) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    all: function(val) {
                        return true;
                    }
                }
            }

        };
    },
    computed: {
        seminare() {
            return this.$store.state.seminare.records
        },
        typen() {
            return this.$store.state.seminare.typen
        },
        orte() {
            return this.$store.state.seminare.orte
        },
        referenten() {
            return this.$store.state.seminare.referenten
        }
    },
    methods: {
        // Filter Functions
        getOptions() {},
        filter: function(filterType) {            
            this.$refs.iso.filter(filterType);
        },
        selectedFilter: function() {
            console.log("test");
            console.log(this.typeSelected);

            var typeSelected = this.typeSelected;
            
            console.log("test2");
            console.log(typeSelected);

            var placeSelected = this.placeSelected;
            //monthSelected = this.monthSelected;
            var nameSelected = this.nameSelected;
            
            console.log("test last");
            if (
                this.typeSelected.length < 1 &&
                this.placeSelected.length < 1 &&
                //this.monthSelected.length < 1 &&
                this.nameSelected.length < 1
            ) {
                this.$refs.iso.filter("all");
            } else {
                this.$refs.iso.filter("combinationFilters");
            }
        },
        resetFilter() {
            this.typeSelected = [];
            this.placeSelected = [];
            this.monthSelected = [];
            this.nameSelected = [];
            this.filterTypeId = null;
            this.$refs.iso.filter("all");
        },

        //List/Grid Switcher
        listView() {
            this.viewType = "projectList";
            this.selectedView = "list";
            this.isActive = "list";
        },
        gridView() {
            this.viewType = "projectGrid";
            this.selectedView = "grid";
            this.isActive = "grid";
        }
      
    }
}
</script>

<style scooped>



</style>